<footer class="footer bg-dark py-4"> <!-- Changement du fond à une couleur foncée pour un contraste élevé -->
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <h5 class="text-white mb-2">BACOREX-SARL</h5> <!-- Converti le nom de la société en en-tête pour plus d'importance -->
              <p class="text-muted mb-1">&copy; 2023 Tous droits réservés.</p>
              <p class="text-muted">Réalisé par <a href="https://hamabarhamou.onrender.com/" class="text-primary">ISSAKA HAMA Barhamou</a>.</p> <!-- Mise en évidence du lien avec une couleur primaire pour une meilleure visibilité -->
          </div>
      </div>
      <div class="row mt-3"> <!-- Ajout d'une rangée supplémentaire pour d'éventuels liens ou informations supplémentaires -->
          <div class="col text-center">
              <a href="#" class="text-muted mx-2">Mentions légales</a> <!-- Exemple de liens supplémentaires -->
              <a href="#" class="text-muted mx-2">Politique de confidentialité</a>
          </div>
      </div>
  </div>
</footer>
