{% extends "base.html" %}

{% block entete %}
<div class="container-fluid bg-primary py-2"> <!-- Utilisation d'une couleur d'arrière-plan primaire pour l'en-tête -->
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-white">BACOREX SARL</h2> <!-- Nom de l'entreprise ou du projet -->
        </div>
        <div class="col-md-6 text-end">
            <span class="text-white">Bienvenue, {{ user.username }}</span> <!-- Affiche le nom d'utilisateur connecté -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-white-50">Votre tableau de bord de gestion des projets</p> <!-- Description ou slogan -->
        </div>
    </div>
</div>
{% endblock %}

{% block profile %} 
    {% include "profile.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}
