
<div class="list-group rounded bg-light shadow p-3">
    {% if request.user.administraion_role %}
        <h4 class="text-info font-weight-bold">Administration</h4>
        <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action">Gestion des Utilisateurs</a>
    {% endif %}

    {% if request.user.gestiondao_role %}
        <h5 class="text-primary font-weight-bold">Gestion des DAO</h5>
        <div class="list-group">
            <a href="{% url 'dao:dao_list' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-list text-primary"></i> Voir tous les DAO
            </a>
        </div>

        <h5 class="text-primary font-weight-bold mt-3">Gestion des Expériences Similaires</h5>
        <div class="list-group">
            <a href="{% url 'dao:experience_similaire_list' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-list text-primary"></i> Liste des Expériences Similaires
            </a>
            <a href="{% url 'dao:create_experience_similaire' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-plus text-primary"></i> Nouvelle Expérience Similaire
            </a>
        </div>

        <h4 class="text-primary font-weight-bold mt-3">Archivage</h4>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                <i class="fas fa-archive text-primary"></i> Archiver
            </a>
        </div>
    {% endif %}

  

    {% if request.user.gestionprojet_role %}
        <h4 class="text-success font-weight-bold">Gestion des Projets</h4>

        {% if request.user.newclients_role %}
            <a href="{% url 'projectmanagement:newclient' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-user-plus text-success"></i> Nouveau Client
            </a>
        {% endif %}

        {% if request.user.newprojet_role %}
            <a href="{% url 'projectmanagement:newproject' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-briefcase text-success"></i> Nouveau projet
            </a>
        {% endif %}

        <a href="{% url 'projectmanagement:clientlist' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-users text-success"></i> Liste des Clients
        </a>
        <a href="{% url 'projectmanagement:projectlist' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-list-alt text-success"></i> Liste des projets
        </a>
        <a href="{% url 'projectmanagement:display_data' %}" class="list-group-item list-group-item-action">
            <i class="fa fa-folder-open text-success"></i> Revue portefeuille
        </a>
        {% if not request.user.is_daf %}
            <a href="{% url 'projectmanagement:taskliste' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-tasks text-success"></i> Travaux à faire
            </a>
            <a href="{% url 'projectmanagement:ganttchartprojects' %}" class="list-group-item list-group-item-action">
                <i class="fas fa-chart-bar text-success"></i> Diagramme de Gantt des Projets
            </a>
        {% endif %}

        {% if request.user.demande_achats_all %}
            <a href="#" class="list-group-item list-group-item-action">
                <i class="fas fa-shopping-cart text-success"></i> Liste des demandes d'achats
            </a>
        {% endif %}
    {% endif %}

    {% if request.user.is_caissier %}
        <a href="{% url 'projectmanagement:all_demande_achats_a_decaisser' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-hand-holding-usd text-success"></i> Liste des demande d'achats
        </a>
    {% endif %}


    {% if request.user.gestiondesstock_role %}
        <h4 class="text-warning font-weight-bold">Gestion des Stock</h4>

        <a href="{% url 'stockmanagement:newwarehouse' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-warehouse text-warning"></i> Créer un Entrepôt
        </a>
        <a href="{% url 'stockmanagement:warehouselist' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-list-ol text-warning"></i> Liste des Entrepôts
        </a>
        <a href="{% url 'stockmanagement:newcategory' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-tags text-warning"></i> Créer une Catégorie
        </a>
        <a href="{% url 'stockmanagement:categorylist' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-tag text-warning"></i> Liste des Catégories
        </a>
        <a href="{% url 'stockmanagement:newmaterial' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-box-open text-warning"></i> Ajouter un Matériel
        </a>
        <a href="{% url 'stockmanagement:materialinventory' %}" class="list-group-item list-group-item-action">
            <i class="fas fa-clipboard-list text-warning"></i> Inventaire des Matériels
        </a>
    {% endif %}



    <h4 class="text-danger font-weight-bold">Autres</h4>
    
    <a href="{% url 'history:history_list' %}" class="list-group-item list-group-item-action">
        <i class="fas fa-history text-danger"></i> Historique
    </a>
    <a href="{% url 'plannig:calendar' %}" class="list-group-item list-group-item-action">
        <i class="fas fa-calendar-alt text-danger"></i> Planning
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-bar text-danger"></i> Statistique
    </a>
</div>
