{% load auth_extras %}

<div class="list-group">
    {% if request.user|has_group:"DAO_TEAM" %} 
        <a href="#" class="list-group-item list-group-item-action">Nouveau DAO</a>
        <a href="#" class="list-group-item list-group-item-action">Travailler sur un DAO</a>
        <a href="#" class="list-group-item list-group-item-action">Liste des DAO en Cours</a>
        <a href="#" class="list-group-item list-group-item-action">Envoyé DAO</a>
        <a href="#" class="list-group-item list-group-item-action">Archiver</a>
    {% endif %}

    {% if request.user|has_group:"PROJET_TEAM" %} 
        {% if request.user.fonction == 6 %}
            <a href="/projet/newclient" class="list-group-item list-group-item-action">Nouveau Client</a>
            <a href="/projet/newprojet" class="list-group-item list-group-item-action">Nouveau projet</a>
        {% endif %}
        <a href="/projet/listeclient" class="list-group-item list-group-item-action">Liste des Clients</a>
        <a href="/projet" class="list-group-item list-group-item-action">Liste des projets</a>
        <a href="#" class="list-group-item list-group-item-action">Statistique</a>
    {% endif %}

    {% if request.user.is_superuser %} 
        <div class="admin-menu">
            <h4>Gestion des DAO</h4>
            <a href="#" class="list-group-item list-group-item-action">Nouveau DAO</a>
            <a href="#" class="list-group-item list-group-item-action">Travailler sur un DAO</a>
            <a href="#" class="list-group-item list-group-item-action">Liste des DAO en Cours</a>
            <a href="#" class="list-group-item list-group-item-action">Envoyé DAO</a>
            <a href="#" class="list-group-item list-group-item-action">Archiver</a>
            <h4>Gestion des Projets</h4>
            <a href="/projet/newclient" class="list-group-item list-group-item-action">Nouveau Client</a>
            <a href="/projet/newprojet" class="list-group-item list-group-item-action">Nouveau projet</a>
            <a href="/projet/listeclient" class="list-group-item list-group-item-action">Liste des Clients</a>
            <a href="/projet" class="list-group-item list-group-item-action">Liste des projets</a>
            <a href="#" class="list-group-item list-group-item-action">Statistique</a>
        </div>
    {% endif %}

    {% if request.user.fonction == 10 %}
        <div class="magasinier-menu">
            <h4>Gestion du Magasin</h4>
            <a href="/magasin/newentrepot" class="list-group-item list-group-item-action">Créer un Entrepôt</a>
            <a href="/magasin/listentrepot" class="list-group-item list-group-item-action">Liste des Entrepôts</a>
            <a href="/magasin/newcategorie" class="list-group-item list-group-item-action">Créer une Catégorie</a>
            <a href="/magasin/listeCategorie" class="list-group-item list-group-item-action">Liste des Catégories</a>
            <a href="/magasin/newmateriel" class="list-group-item list-group-item-action">Ajouter un Matériel</a>
            <a href="/magasin" class="list-group-item list-group-item-action">Inventaire des Matériels</a>
            <a href="/boitereception" class="list-group-item list-group-item-action">Courrier</a>
            <a href="#" class="list-group-item list-group-item-action">Statistique</a>
        </div>
    {% endif %}

    <a href="/boitereception" class="list-group-item list-group-item-action">Courrier</a>
    <a href="/plannig" class="list-group-item list-group-item-action">Planning</a>
</div>
