{% extends "home.html" %}

{% block entete %} 
    <div class="card mb-3 w-100 bg-dark text-white">
        <div class="card-header {% if status == 'EN COURS' %} bg-success text-white {% elif status == 'TERMINER' %} bg-light text-dark {% elif status == 'NON DÉBUTÉ' %} bg-info text-white {% elif status == 'ARCHIVER' %} bg-warning text-dark {% endif %}">
            <h3 class="card-title text-center">{{projet.name}}</h3>
        </div>
        <div class="card-body d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
            <p class="card-text mb-2 mb-md-0">
                <strong>Début :</strong> {{projet.start_date | date:"M d, Y" }}  
            </p>
            <p class="card-text mb-2 mb-md-0">
                <strong>Fin :</strong> {{projet.end_date | date:"M d, Y" }}
            </p>
            <p class="card-text mb-2 mb-md-0">
                <strong>Statut :</strong> <span class="badge {% if status == 'EN COURS' %} bg-success {% elif status == 'TERMINER' %} bg-dark {% elif status == 'NON DÉBUTÉ' %} bg-primary {% elif status == 'ARCHIVER' %} bg-secondary {% endif %}">{{status}}</span>
            </p>
            <p class="card-text mb-2 mb-md-0">
                {% if temps_restant != None %}
                    <strong>Temps restant :</strong> {{ temps_restant }} jours
                {% endif %}
            </p>
        </div>   
    </div>
{% endblock %}

{% block menu %}
    <div class="list-group">
        {% if request.user.is_chefDeProjet_or_coordinateur_or_admin %}
            <a href="{% url 'projectmanagement:newTask' pk %}" class="list-group-item list-group-item-action">Creer une Tache </a>
        {% endif %}
        Caracteristique générales
        <a href="#" class="list-group-item list-group-item-action">Affaires </a>
        <a href="#" class="list-group-item list-group-item-action">Contrat</a>
        {% comment %} <a href="#" class="list-group-item list-group-item-action">Position</a> {% endcomment %}
        <a href="{% url 'gestionprojets:List_Intervenant_Project' pk %}" class="list-group-item list-group-item-action">Intervenant</a> 
        <a href="#" class="list-group-item list-group-item-action">Plannification</a>
        <a href="{% url 'projectmanagement:newTask' pk %}" class="list-group-item list-group-item-action">exposé Tvx à faire</a>
        <a href="#" class="list-group-item list-group-item-action">Carateristiques techniques</a>
        Suivi
        <a href="#" class="list-group-item list-group-item-action">Retroplanning</a>
        <a href="#" class="list-group-item list-group-item-action">Liste des modifications</a>
        <a href="#" class="list-group-item list-group-item-action">Revue portefeuille</a>
        <a href="#" class="list-group-item list-group-item-action">Achat</a>
        <a href="#" class="list-group-item list-group-item-action">Client</a>
        <a href="#" class="list-group-item list-group-item-action">CRET</a>
        <a href="/boitereception" class="list-group-item list-group-item-action">Courier</a>
        <a href="{% url 'projectmanagement:projectlist' %}" class="list-group-item list-group-item-action">Retour</a>
    </div>
{% endblock %}

{% block content %}
    Detail sur le projet
{% endblock %}
