{% extends "home.html" %}

{% block entete %} 
    <h1>{{projet.name}}</h1>
    Debut : {{projet.start_date | date:"M d, Y" }}  
    Fin : {{projet.end_date | date:"M d, Y" }}
    Progres: {{status}}
    Temps restant: 
{% endblock %}

{% block menu %}
    <div class="list-group">
        {% if request.user.fonction == 8 %}
            <a href="{% url 'newTask' pk %}" class="list-group-item list-group-item-action">Creer une Tache </a>
        {% endif %}
        Caracteristique générales
        <a href="#" class="list-group-item list-group-item-action">Affaires </a>
        <a href="#" class="list-group-item list-group-item-action">Contrat</a>
        <a href="#" class="list-group-item list-group-item-action">Position</a>
        <a href="{% url 'gestionprojets:List_Intervenant_Project' pk %}" class="list-group-item list-group-item-action">Intervenant</a> 
        <a href="#" class="list-group-item list-group-item-action">Plannification</a>
        <a href="#" class="list-group-item list-group-item-action">exposé Tvx à faire</a>
        <a href="#" class="list-group-item list-group-item-action">Carateristiques techniques</a>
        Suivi
        <a href="#" class="list-group-item list-group-item-action">Retroplanning</a>
        <a href="#" class="list-group-item list-group-item-action">Liste des modifications</a>
        <a href="#" class="list-group-item list-group-item-action">Revue portefeuille</a>
        <a href="#" class="list-group-item list-group-item-action">Achat</a>
        <a href="#" class="list-group-item list-group-item-action">Client</a>
        <a href="#" class="list-group-item list-group-item-action">CRET</a>
        <a href="/boitereception" class="list-group-item list-group-item-action">Courier</a>
        <a href="{% url 'gestionprojets:listeproject' %}" class="list-group-item list-group-item-action">Retour</a>
    </div>
{% endblock %}

{% block content %}
    Detail sur le projet
{% endblock %}
