{% extends "home.html" %}

{% block content %}

<style>
    .table thead th {
        background-color: #8B4513; /* Marron */
        color: white;
    }
    .table tbody tr:not(:nth-child(4n+3)), .table tbody tr:not(:nth-child(4n+4)) {
        background-color: #D3D3D3; /* Gris */
    }
    .btn-primary {
        background-color: #8B4513; /* Marron */
        border-color: #8B4513; /* Marron */
    }
    .pagination .page-link {
        color: #8B4513; /* Marron */
    }
    .pagination .page-link:hover {
        background-color: #D3D3D3; /* Gris clair */
        border-color: #8B4513; /* Marron */
    }
    .pagination .page-item.active .page-link {
        background-color: #8B4513; /* Marron */
        border-color: #8B4513; /* Marron */
    }
</style>

<!-- Ajouter un champ de recherche au-dessus de la table -->
<!-- Champ de recherche -->
<form method="get" class="mb-3">
    <div class="row">
        <div class="col-md-10">
            <input type="text" name="search_term" value="{{ search_term }}" placeholder="Rechercher un client..." class="form-control">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
</form>


<div class="container-fluid mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom du Client</th>
                <th>Adresse</th>
                <th>Projets du Client</th>
                {% if request.user.is_admin_or_coordinator %}
                    <th>Mise à jour</th>
                    <th>Suppression</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for c in clients %}
            <tr>
                <td>{{c.name}}</td>
                <td>{{c.adresse}}</td>
                <td>
                    <!-- Bouton pour montrer/cacher la liste des projets -->
                    <button class="btn btn-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#projets-{{ forloop.counter }}" aria-expanded="false">
                        {{ c.projet_set.count }} Projets
                    </button>
                </td>
                {% if request.user.is_admin_or_coordinator %}
                    <td>
                        <a href="#" title="Mettre à jour">
                            <i class="bi bi-pencil-square" style="color: green;"></i>
                        </a>
                    </td>
                    {% if c.projet_set.count == 0 %}
                        <td>
                            <a href="#" title="Supprimer" class="text-danger delete-client-link" data-client-name="{{ c.name }}">
                                <i class="bi bi-trash"></i> Supprimer
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <button class="btn btn-warning btn-sm" type="button" disabled>
                                <i class="bi bi-exclamation-triangle-fill"></i>
                            </button>
                            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Ce client a des projets associés. Supprimez d'abord tous les projets pour pouvoir supprimer ce client.">
                                Suppression non disponible
                            </span>
                        </td>
                    {% endif %}

                {% endif %}
            </tr>
            <!-- Liste cachée des projets -->
            <tr>
                <td colspan="{{ request.user.is_admin_or_coordinator|yesno:"5,4" }}" class="p-0">
                    <div class="collapse" id="projets-{{ forloop.counter }}">
                        <ul class="list-group list-group-flush">
                            {% for projet in c.projet_set.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'projectmanagement:caracteristiques_techniques' projet.id %}">{{ projet.name }}</a>
                                </li>
                            {% empty %}
                                <li class="list-group-item">Aucun projet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!-- Ajouter la pagination en bas de la table -->
<div class="mt-4">
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if clients.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1&search_term={{ search_term }}">Début</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ clients.previous_page_number }}&search_term={{ search_term }}">Précédent</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Début</span></li>
                <li class="page-item disabled"><span class="page-link">Précédent</span></li>
            {% endif %}

            {% for num in clients.paginator.page_range %}
                {% if clients.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&search_term={{ search_term }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if clients.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ clients.next_page_number }}&search_term={{ search_term }}">Suivant</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ clients.paginator.num_pages }}&search_term={{ search_term }}">Fin</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Suivant</span></li>
                <li class="page-item disabled"><span class="page-link">Fin</span></li>
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
    })
    </script>
    
{% endblock %}
