

{% extends "home.html" %}

{% load static %}  {# Ajouter cette ligne pour charger la balise {% static %} #}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Detail</th>
            <th>Nom du Projet</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Temps restant</th>
            {% if request.user.fonction == 6 %}
                <th>Update</th>
                <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for p in projets %}
                <tr class="custom-table-row">
                    <td>
                        <a href="{% url 'gestionprojets:detailprojet' p.id %}" class="list-group-item list-group-item-action">
                            <i class="bi bi-info-circle-fill bi-3x"></i>
                        </a>
                    </td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.start_date }}</td>
                    <td>{{ p.end_date }}</td>
                    <td>None</td> 
                    {% if request.user.fonction == 6 %}
                        <td>
                            <a href="{% url 'gestionprojets:editProjet' p.id %}" class="list-group-item list-group-item-action">
                                <i class="bi bi-pencil-fill bi-3x"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'gestionprojets:deleteProjet' p.id %}" class="list-group-item list-group-item-action">
                                <i class="bi bi-trash-fill bi-3x"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}