<!-- dao/templates/dao/ligne_rapport_list.html -->
{% extends "home.html" %}

{% load static %}

{% block content %}
<h1>Liste des Lignes de Rapport</h1>
<a href="{% url 'ligne_rapport_create' %}">Créer une Ligne</a>
<ul>
    {% for ligne in lignes %}
    <li>
        {{ ligne.nom_soumissionnaire }} - {{ ligne.rapport.dao.dao_number }}
        <a href="{% url 'ligne_rapport_update' ligne.pk %}">Modifier</a>
        <a href="{% url 'ligne_rapport_delete' ligne.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}