<!-- dao/templates/dao/rapport_depouillement_list.html -->
{% extends "home.html" %}

{% load static %}

{% block content %}
<!-- dao/templates/dao/rapport_depouillement_list.html -->
<h1>Liste des Rapports de Dépouillement</h1>
<table class="table">
    <thead>
        <tr>
            <th>DAO</th>
            <th>Date de Création</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for rapport in rapports %}
        <tr>
            <td>{{ rapport.dao.dao_number }}</td>
            <td>{{ rapport.date_creation }}</td>
            <td>
                <a href="{% url 'dao:rapport_depouillement_update' rapport.pk %}" class="btn btn-sm btn-primary">Modifier</a>
                <a href="{% url 'dao:rapport_depouillement_delete' rapport.pk %}" class="btn btn-sm btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'dao:rapport_depouillement_create' %}" class="btn btn-primary">Créer un Rapport</a>
{% endblock %}