<!-- dao/templates/dao/reponse_dao_list.html -->
{% extends "home.html" %}

{% load static %}

{% block content %}
<h1>Liste des Réponses DAO</h1>
<a href="{% url 'dao:reponse_dao_create' %}">Créer une Réponse DAO</a>
<ul>
    {% for reponse in reponses %}
    <li>
        {{ reponse.dao.dao_number }} - {{ reponse.type_reponse }}
        <a href="{% url 'dao:reponse_dao_update' reponse.pk %}">Modifier</a>
        <a href="{% url 'dao:reponse_dao_delete' reponse.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}