{% extends "base.html" %}
{% block title %}Home DAO{% endblock %}

{% block menu %}
    Caracteristique générales
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"> Nouveau DAO </a>
        <a href="#" class="list-group-item list-group-item-action">Travailler sur un DAO</a>
        <a href="#" class="list-group-item list-group-item-action">Liste des DAO en Cours</a>
        <a href="#" class="list-group-item list-group-item-action">Envoyé DAO</a>
        <a href="#" class="list-group-item list-group-item-action">Archiver</a>
      </div>
    
{% endblock %}

{% block content %}
    <p>Contenue du DAO</p>

    {% for d in dao %}
        <h3> {{ d.id }} </h3>
    {% endfor %}
{% endblock %}
