{% extends "messagerie.html" %}

{% block content %}
    <div class="container">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Objet</th>
                <th>Message</th>
                <th>Recepteurs</th>
                <th>Date d'envoi</th>
              </tr>
            </thead>
            <tbody>
            {% for msg in messages %}
                <tr>
                    <td>{{msg.objet}}</td>
                    <td>
                        {% if msg.messages|length > 60 %}
                            {{msg.messages|safe|slice:":60"}}...
                        {% else %}
                            {{msg.messages|safe}}
                        {% endif %}
                    </td>
                    <td>
                      {{ msg.recepteurs.all|join:"; " }}
                    </td>
                    <td>{{msg.date_envoie}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
